<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FarseerPhysics" version="3.5.0" targetFramework="net48" />
  <package id="OpenTK" version="3.2" targetFramework="net48" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net48" />
  <package id="Triangle" version="0.0.6-Beta3" targetFramework="net48" />
  <package id="System.Resources.Extensions" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
</packages>