<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="2.11.0" targetFramework="net452" />
  <package id="DockPanelSuite.ThemeVS2015" version="2.11.0" targetFramework="net452" />
  <package id="DotNetZip" version="1.12.0" targetFramework="net452" />
  <package id="OpenTK" version="1.1.1589.5942" targetFramework="net452" />
  <package id="OpenTK.Next" version="1.2.2336.6514-pre" targetFramework="net452" />
  <package id="OpenTK.Next.GLControl" version="1.2.2336.6514-pre" targetFramework="net452" />
  <package id="Triangle" version="0.0.6-Beta3" targetFramework="net452" />
</packages>